.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  row-gap: 100px; }
  .content__items {
    margin: 0 auto;
    display: flex;
    width: 1200px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; }
  .content__item {
    box-shadow: 8px 5px 5px #a0d0f8;
    background-color: #1fc5dd;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px; }
    .content__item--empty {
      color: red;
      font-size: 36px;
      background: transparent; }
  .content .city {
    width: 249px;
    border-radius: 50px;
    height: 50px;
    border: 1px #928eff solid;
    padding: 25px;
    background-color: #8989ff33; }
  .content .form {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px; }
  .content .search {
    width: 120px;
    height: 50px;
    border-radius: 50px;
    background: #8989ff33;
    border: 1px #928eff solid; }
